.container {
  width: 80%;
  margin: auto; }

.header {
  background: url("../img/Homepage/background.jpg") no-repeat center;
  padding-top: 150px;
  padding-bottom: 50px; }
  .header__href {
    position: relative; }
    .header__href__img {
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 35px;
      height: 35px;
      display: flex;
      cursor: pointer; }
      .header__href__img-1 {
        height: 13px;
        margin-left: 10px; }
    .header__href__span {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 65px; }
      .header__href__span__img {
        margin-left: 10px;
        height: 13px; }
        .header__href__span__img-1 {
          height: 30px; }
      .header__href__span__text {
        height: 11px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
        cursor: pointer;
        pointer-events: all; }
  .header__title {
    text-align: center;
    margin: auto;
    padding: 55px;
    max-width: 638px;
    color: #ffffff;
    border: 1px solid rgba(143, 143, 143, 0.5);
    font-family: 'Merriweather', serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 90px; }
    .header__title__span {
      color: #f7ac53; }
  .header__text {
    display: flex;
    justify-content: space-around;
    max-width: 230px;
    margin: auto; }
    .header__text__span {
      color: #ffffff;
      font-family: "Open Sans";
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 90px;
      text-transform: uppercase;
      cursor: pointer; }
      .header__text__span::after {
        content: '';
        display: inline-block;
        background-color: #f7ac53;
        width: 1px;
        margin-left: 10px;
        height: 10px; }
      .header__text__span:last-child::after {
        display: none; }

.services {
  background-color: #353535;
  position: relative; }
  .services--nonactive {
    display: none; }
  .services::before {
    content: '';
    display: block;
    width: 2px;
    height: 126px;
    background-color: #f7ac53;
    margin: auto; }
  .services__subtitle {
    color: #f7ac53;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center; }
  .services__title {
    max-width: 648px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
    text-align: center;
    margin: auto;
    margin-bottom: 116px; }
  .services__info {
    display: flex;
    justify-content: space-around;
    opacity: 0; }
    .services__info--active {
      opacity: 1; }
    .services__info__text__title {
      color: #FFF;
      font-family: 'Merriweather', serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 65px;
      margin-top: 36px; }
    .services__info__text__p {
      max-width: 223px;
      color: #bbbbbb;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 27px;
      margin-top: 24px; }
      .services__info__text__p-1 {
        max-width: 500px;
        margin-bottom: 55px; }
    .services__info__text__span {
      color: #FFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 28px;
      text-transform: uppercase;
      margin-top: 32px;
      display: inline-block;
      margin-bottom: 150px;
      cursor: pointer; }

.open-services {
  display: flex;
  justify-content: space-between; }
  .open-services-2 {
    position: relative;
    margin-top: -6rem; }
    .open-services-2__text {
      position: absolute;
      right: 0;
      top: 8rem;
      width: 200px;
      background-color: #FFF;
      color: black;
      font-family: 'Merriweather', serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 65px;
      text-align: center; }
  .open-services__back {
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #FFF;
    background-color: transperent;
    z-index: 1000;
    outline: none;
    z-index: 100; }
    .open-services__back:hover {
      background-color: rgba(255, 255, 255, 0.2); }
    .open-services__back::after {
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      border-bottom: 3px solid #FFF;
      border-left: 3px solid #FFF;
      transform: rotate(45deg);
      position: absolute;
      top: 0.1rem;
      bottom: 0;
      left: 0.286rem;
      right: 0;
      margin: auto; }
  .open-services-1 {
    margin-left: 4%; }
  .open-services__btn {
    position: relative !important; }
  .open-services__icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px; }
    .open-services__icons__block {
      width: 50%; }
    .open-services__icons__text {
      height: 11px;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 40px;
      text-transform: uppercase; }

.testimonials {
  background-color: #353535;
  padding-bottom: 175px; }
  .testimonials::before {
    content: '';
    display: block;
    width: 2px;
    height: 126px;
    background-color: #f7ac53;
    margin: auto; }
  .testimonials__title {
    max-width: 724px; }
  .testimonials__companies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 105px; }
    .testimonials__companies__company-1 {
      width: 152px;
      height: 25px; }
    .testimonials__companies__company-2 {
      width: 71px;
      height: 44px; }
    .testimonials__companies__company-3 {
      width: 92px;
      height: 28px; }
    .testimonials__companies__company-4 {
      width: 68px;
      height: 42px; }
    .testimonials__companies__company-5 {
      width: 116px;
      height: 30px; }
    .testimonials__companies__company-6 {
      width: 84px;
      height: 59px; }
    .testimonials__companies__company-7 {
      width: 76px;
      height: 24px; }
  .testimonials__clients {
    max-width: 750px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #181818;
    margin: auto;
    position: relative; }
    .testimonials__clients__img {
      width: 75px;
      height: 76px;
      -o-object-fit: cover;
      object-fit: cover;
      margin-left: 338px; }
    .testimonials__clients__text {
      max-width: 613px;
      color: #bbbbbb;
      font-family: 'Merriweather', serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      margin: auto;
      margin-top: 48px; }
    .testimonials__clients__author {
      color: #f7ac53;
      font-family: "Open Sans", serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 35px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 52px; }
      .testimonials__clients__author::after, .testimonials__clients__author::before {
        content: '';
        display: inline-block;
        background-color: #404040;
        height: 2px;
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px; }
    .testimonials__clients__span {
      color: #FFF;
      font-family: "Open Sans", serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 35px;
      text-align: center;
      padding-bottom: 37px; }

.team {
  background-color: #181818;
  padding-bottom: 100px; }
  .team::before {
    content: '';
    display: block;
    width: 2px;
    height: 126px;
    background-color: #f7ac53;
    margin: auto; }
  .team__persons {
    margin: auto;
    border-collapse: collapse; }
    .team__persons__person {
      border-right: 1px solid #404040;
      border-bottom: 1px solid #404040;
      padding: 50px 70px;
      text-align: center; }
      .team__persons__person:hover {
        cursor: pointer; }
      .team__persons__person:last-child {
        border-right: none; }
      .team__persons__person-2 {
        border-bottom: none; }
      .team__persons__person__img {
        width: 120px;
        height: 121px;
        border-radius: 100px;
        -o-object-fit: cover;
        object-fit: cover; }
      .team__persons__person__name {
        color: #f7ac53;
        font-family: "Open Sans" , serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 25px; }
      .team__persons__person__company {
        color: #FFF;
        font-family: "Open Sans", serif;
        font-size: 13px;
        font-weight: 400;
        margin-top: 5px; }

.contact_us {
  background-color: #353535;
  padding-bottom: 100px; }
  .contact_us::before {
    content: '';
    display: block;
    width: 2px;
    height: 126px;
    background-color: #f7ac53;
    margin: auto; }
  .contact_us__form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 751px;
    height: 601px;
    margin: auto;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #181818;
    position: relative; }
    .contact_us__form__input {
      border: none;
      border-bottom: 1px solid #404040;
      width: 275px;
      background-color: #181818; }
      .contact_us__form__input--active {
        border-bottom: 1px solid #f7ac53; }
      .contact_us__form__input__label {
        display: block;
        opacity: 0;
        color: #f7ac53;
        font-family: "Open Sans", serif;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 10px; }
        .contact_us__form__input__label--active {
          opacity: 1; }
      .contact_us__form__input__message {
        width: 630px; }
    .contact_us__form__btn {
      display: block;
      position: absolute;
      bottom: 20px;
      width: 220px;
      height: 60px;
      background-color: #f7ac53;
      outline: none;
      border: none;
      color: #232323;
      font-family: "Open Sans", serif;
      font-size: 17px;
      font-weight: 600;
      text-transform: uppercase; }
      .contact_us__form__btn:hover {
        cursor: pointer;
        box-shadow: 1px 2px 3px #404040;
        color: #FFF; }

input[placeholder] {
  text-transform: uppercase;
  color: #FFF;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px; }

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #353535;
  font-family: 'Open Sans', sans-serif; }
  .footer__img {
    margin-top: 30px; }
  .footer__info__tel {
    line-height: 27px; }
  .footer__info__icons {
    display: flex;
    margin-top: 20px;
    margin-left: -10px; }
    .footer__info__icons__icon {
      margin-right: 5px; }

.subtitle {
  color: #bababa;
  font-size: 14px;
  font-weight: 400; }

.title {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase; }

.tel {
  text-decoration: none;
  font-size: 14px;
  color: #bababa;
  line-height: 27px; }

.scroll-top {
  cursor: pointer;
  position: fixed;
  bottom: 3.57rem;
  right: 2rem;
  width: 3.57rem;
  height: 3.57rem;
  border-radius: 50%;
  border: 2px solid #f7ac53;
  background-color: transperent;
  z-index: 1000;
  outline: none;
  display: none; }
  .scroll-top:hover {
    background-color: rgba(247, 172, 83, 0.2); }
  .scroll-top::after {
    content: '';
    width: 0.714rem;
    height: 0.714rem;
    border-top: 2px solid #f7ac53;
    border-left: 2px solid #f7ac53;
    transform: rotate(45deg);
    position: absolute;
    top: 0.286rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
